.question {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

.item {
    width: 100%;
    border: 1px solid var(--foreground);
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.title {
    font-size: 1rem;
    text-transform: uppercase;
    color: #aaa;
    font-weight: normal;
    letter-spacing: 0.2ch;
}

.value {
    font-weight: 500;
    font-size: 2rem;

    .itemFlag & {
        font-size: 10rem;
    }
}

.arrow {
    font-size: 1.5rem;
    color: #aaa;
}